.body {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 1980px;
}

.workspace {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 1955px;
    max-height: 1955px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

.container {
    height: 1955px;
    background-color: aqua;
}

.tool-bar {
    position: fixed;
    height: 1955px;
    width: 95px;
    margin-left: 0px;
    background-color: #656779;
    z-index: 10;
}

.user-setting-func {
    margin-right: 0px;
    margin-left: auto;
}

.navigation-home-bar {
    position: fixed;
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
    height: 80px;
    background-color: black;
    z-index: 12;
    display: flex;
    flex-direction: row;
}

.tittle {
    color: #ffffff;
    font-size: 40px;
    margin-left: 85px;
    margin-top: 20px;
}

.user-button {
    border: 0px;
    background-color: #ffffff;
    margin-right: 0px;
    position: absolute;
}

.setting-button {
    border: 0px;
    background-color: #ffffff;
    margin-right: 0px;
    position: absolute;
}

.container {
    position: fixed;
    height: 1955px;
    width: 1955px;
    background-color: #ffffff;
}

.body-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: max-content;
}

.container-catalog {
    height: 300px;
    width: 400px;
    border-width: 1px;
}

.label-privacy {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 30px;
    background-color: #ececec;
    z-index: 20;
}

.work-view {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;
}

.image-bg-posimat {
    height: max-content;
    width: max-content;
}

.exit-home-icon {
    border: 0px;
    border-width: 0px;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.exit-home {
    border: 0px;
    width: auto;
    height: 100%;
    border-color: #505155;
    background-color: #262728;
}