.body {
    background-color: #ffffff;
}

.workspace {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.tool-bar {
    position: absolute;
    height: 100%;
    width: 20%;
    margin-left: 0px;
    background-color: #ebeeff;
}

.navigation-home-bar {
    margin-right: 0px;
    margin-top: 0px;
}