.body {
    background-color: #ffffff;
}

.workspace {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tool-bar {
    position: absolute;
    height: 100%;
    width: 20%;
    margin-left: 0px;
    background-color: #ebeeff;
}

.navigation-home-bar {
    margin-right: 0px;
    margin-top: 0px;
    position: fixed;
}

.user-button {
    border: 0px;
    background-color: #ffffff;
    margin-right: 0px;
    position: absolute;
}

.setting-button {
    border: 0px;
    background-color: #ffffff;
    margin-right: 0px;
    position: absolute;
}

.label-privacy {
    position: fixed;
    height: 25px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 0%;
    background-color: #ececec;
}